body {
    font-family: 'Gloria+Hallelujah';
    font-size: 32px;

    background-color: #455A64;
}

h1{
    font-family: 'Gloria+Hallelujah';
    font-size: 32px;
    margin: auto;
    margin-left: 50%;
}
canvas {    margin: auto;   border: 2px #607D8B solid; }

.slider { float: left; margin: auto; margin-right: 10px;}

#checkbox{
    float:left;
    margin: auto;
}

#controls{
    margin: auto;
    color: #fff;
    font-size: 20px;
}

